Lead Qualification AI Workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -224
      ],
      "id": "b11a52c7-aaa9-44fa-b2f7-e24988566801",
      "name": "Webhook",
      "webhookId": "fc5cc2ae-b461-4be9-8f0f-f5bd379c2f0f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this form submission:\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nMessage: {{ $json.body.message }}\nSource: {{ $json.body.source }}\n\nRespond ONLY with a valid JSON object:\n{\n  \"category\": \"lead|support|spam\",\n  \"priority\": \"high|medium|low\",\n  \"reason\": \"one sentence explanation\",\n  \"suggested_reply\": \"professional email reply using their name\"\n}",
        "options": {
          "systemMessage": "You are an expert lead classification AI for a freelance business. You analyze form submissions and classify them accurately. Always respond with valid JSON only, no extra text, no markdown, no explanation outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        -224
      ],
      "id": "fd8c0f11-16e5-490e-ae07-c69a5c405737",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        256,
        -32
      ],
      "id": "9bbf63f9-3408-4b8a-b968-e1b40b8478b0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "qXyvLIZAc1wdXtoR",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "lead",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c05555b2-4cd1-4230-85e4-441b72a7dda4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7f40fb96-dbd8-4098-8af7-23f09502c5ed",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf0c9833-fcf4-4993-b3ac-54c75a0bf163",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        -240
      ],
      "id": "a63969ff-e5cc-43e3-bc9c-1b5f71fd20f6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ",
          "mode": "list",
          "cachedResultName": "\"Lead Classifier\"",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Message": "={{ $('Webhook').item.json.body.message }}",
            "Source": "={{ $('Webhook').item.json.body.source }}",
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Suggested_Reply": "={{ $json.suggested_reply }}",
            "Reason": "={{ $json.reason }}",
            "Status": "pending",
            "Email_Sent": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "leads",
              "displayName": "leads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested_Reply",
              "displayName": "Suggested_Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Sent",
              "displayName": "Email_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -384
      ],
      "id": "65b5ce08-d54d-4f1b-9e2e-76eedaf83a07",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vVU9upKuMt3oEmJY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ",
          "mode": "list",
          "cachedResultName": "\"Lead Classifier\"",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 208485106,
          "mode": "list",
          "cachedResultName": "Support",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit#gid=208485106"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "leads": "=",
            "Timestamp": "={{ $now }}",
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Message": "={{ $('Webhook').item.json.body.message }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Source": "={{ $('Webhook').item.json.body.source }}",
            "Category": "={{ $json.category }}",
            "Priority": "={{ $json.priority }}",
            "Reason": "={{ $json.reason }}",
            "Suggested_Reply": "={{ $json.suggested_reply }}",
            "Status": "pending",
            "Email_Sent": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "leads",
              "displayName": "leads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested_Reply",
              "displayName": "Suggested_Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Sent",
              "displayName": "Email_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -224
      ],
      "id": "9c713979-1091-4372-a3a9-030b8b878a8b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vVU9upKuMt3oEmJY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ",
          "mode": "list",
          "cachedResultName": "\"Lead Classifier\"",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1382396706,
          "mode": "list",
          "cachedResultName": "Spam log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit#gid=1382396706"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Message": "={{ $('Webhook').item.json.body.message }}",
            "Source": "={{ $('Webhook').item.json.body.source }}",
            "Reason": "={{ JSON.parse($json.output).reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "leads",
              "displayName": "leads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -48
      ],
      "id": "6db689c5-6de2-4e6b-b7d0-8ad342d58e81",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vVU9upKuMt3oEmJY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst clean = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(clean);\n\nreturn [{\n  json: {\n    ...parsed,\n    output: JSON.stringify(parsed)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -224
      ],
      "id": "63a3014a-d708-427b-8a5f-d9c84572294c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json['Email'] }}",
        "subject": "=Re: Your inquiry - {{ $('Append row in sheet').item.json['Name'] }}",
        "message": "={{ $('Append row in sheet').item.json['Suggested_Reply'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -384
      ],
      "id": "5ea4e71d-dc61-4de5-8146-4d3bb2fdc4c2",
      "name": "Send a message",
      "webhookId": "e41355eb-5b65-4b85-9100-0f7e95de7096",
      "credentials": {
        "gmailOAuth2": {
          "id": "4GJzN2iaYcG9tRnv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet1').item.json['Email'] }}",
        "subject": "=Re: Your support request - {{ $('Append row in sheet1').item.json['Name'] }}",
        "message": "={{ $('Append row in sheet1').item.json['Suggested_Reply'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        -224
      ],
      "id": "8b16b6c6-5cc9-494b-bbf8-6c8a63d8e41d",
      "name": "Send a message1",
      "webhookId": "dc32549e-17bc-41a8-ae10-1cd87c6225de",
      "credentials": {
        "gmailOAuth2": {
          "id": "4GJzN2iaYcG9tRnv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -496
      ],
      "id": "568150ac-2c41-47d0-a854-25a41956c0b2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ",
          "mode": "list",
          "cachedResultName": "\"Lead Classifier\"",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "approved"
            },
            {
              "lookupColumn": "Email_Sent",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -496
      ],
      "id": "8830d3a4-3d24-4853-86cd-7f591672b9a4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vVU9upKuMt3oEmJY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email'] }}",
        "subject": "=Re: Your inquiry - {{ $json['Name'] }}",
        "message": "={{ $json['Suggested_Reply'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        352,
        -496
      ],
      "id": "3d5c88e6-d8ed-437d-abeb-d42623774c4c",
      "name": "Send a message2",
      "webhookId": "66d1573d-d07d-4823-afd8-5503bc60662c",
      "credentials": {
        "gmailOAuth2": {
          "id": "4GJzN2iaYcG9tRnv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ",
          "mode": "list",
          "cachedResultName": "\"Lead Classifier\"",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ENlpFMzKG_FrW8Vt4ZWw5q6UJkTAB85Ycx14Tu1GrtQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_Sent": "Yes",
            "Email": "={{ $('Get row(s) in sheet').item.json['Email'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "leads",
              "displayName": "leads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested_Reply",
              "displayName": "Suggested_Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Sent",
              "displayName": "Email_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        -496
      ],
      "id": "42b7053f-9772-4d59-8beb-99a2d0b41a22",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vVU9upKuMt3oEmJY",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a0f9eee-b0d9-44b0-a0ce-4579406dc8bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31d7ade3a097c3331f5b2d84c26bb30ab5824bac1c85d31b8a94a6de9851f7a0"
  },
  "nodeGroups": [],
  "id": "IcOM1MK3hHCWnCfe",
  "tags": []
}